---
layout: page
title: Latest Posts
---

<ul class="post-list">
{% for post in site.posts limit:10 %} 

{% if post.link %}
          <li><article><a href="{{ site.url }}{{ post.url }}"><i class='icon-share'></i> {{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
        {% else %}
          <li><article><a href="{{ site.url }}{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a></article></li>
        {% endif %}

{% endfor %}
</ul>