<!doctype html>
<html lang="en">
<head>
{% include head.html %}
</head>

<body id="home">
{% if page.image.feature %}<header class="masthead">
    <div class="wrap">
        <a href="{{ site.url }}" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo"></a>
    </div>
</header><!-- /.masthead -->
{% else %}<header class="masthead">
    <div class="wrap">
        
        <h1 class="site-title"><a href="{{ site.url }}">{{ site.title }}</a></h1>
        <h2 class="site-description">{{ site.description }}</h2>
    </div>
</header><!-- /.masthead -->{% endif %}

<div id="main" role="main">
  <article class="home entry">
    
      <header class="entry-header">
        <h1 class="entry-title">{% if page.headline %}{{ page.headline }}{% else %}{{ page.title }}</h1>{% endif %}
      </header>
      <div class="entry-content">
        {{ content }}
      </div><!-- /.entry-content -->
 
  </article>
</div><!-- /#main -->

{% include navigation.html %}
<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

{% include scripts.html %}          

</body>
</html>